@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 1.8rem;
    color: #2b3e51;
    background-color: #ffffff;
    font-family: "Roboto Slab", serif;
    height: 100%;
    width: 100%;
}

.header {
    margin-top: -50px;
    height: 150px;
    background: #343642;
    padding: 25px;
}

.headercontent {
    margin: 0%;
}
a {
    color: #25d0ff;
    text-decoration: none;
    font-size: 50px;
    font-family: "Roboto Slab", serif;
}

#allTheThings {
    width: 90%;
    max-width: 100%;
    text-align: center;
    margin: 12% auto;
    font-size: 1.3rem;
    color: #94aab0;
    display: block;
}

.homelogo {
    font-size: 150px;
}

#member {
    display: inline-block;
    padding: 20px 100px;
}

#verticalLine {
    display: inline-block;
    border-left: solid #343642;
}

#librarian {
    padding: 20px 100px;
}

#member,
#librarian {
    transition: all 0.2s ease-in-out;
}

#member:hover,
#librarian:hover {
    transform: scale(1.1);
}

.loginform {
    font-family: "Roboto Slab", serif;
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
    /* justify-content: center; */
    margin: 100px auto;
    padding: 50px;
    border-radius: 20px;
    border: black solid 2px;
}

.loginhead {
    color: #25d0ff;
    font-size: 40pt;
    font-weight: bold;
}

input {
    border: 1px solid #777;
    border-radius: 10px;
    padding: 10px;
    font-size: 20pt;
    margin: 30px auto;
}

input[type="submit"] {
    padding: 10px 50px;
    background-color: #25d0ff;
    color: white;
    font-weight: bold;
    font-size: 20pt;
    width: 300px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: white;
    color: #25d0ff;
    box-shadow: #25d0ff 0 0 20px;
}

.librarianhome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% auto;
}

.libHomeButton {
    padding: 20px 50px;
    background-color: #25d0ff;
    color: white;
    font-weight: bold;
    font-size: 20pt;
    width: 500px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #777;
    border-radius: 10px;
    margin: 30px auto;
}

.libHomeButton:hover {
    background-color: white;
    color: #25d0ff;
    box-shadow: #25d0ff 0 0 20px;
}
